<!DOCTYPE html>
<div class="backForwardButtons">
  <span class="forward glyphicon glyphicon-step-forward" title="<%= stepForwardText %>" ></span>
  <br>
  <span class="backward glyphicon glyphicon-step-backward" title="<%= stepBackwardText %>"></span>
</div>
